{{- 'collection-grid.css' | asset_url | stylesheet_tag -}}
{{- 'section-collection.css' | asset_url | stylesheet_tag -}}
{{- 'component-card-product.css' | asset_url | stylesheet_tag -}}

{%- style -%}
  #shopify-section-{{ section.id }} {
    padding-block-start: calc(var(--section-spacing-unit-size) * {{ section.settings.spacing_top }});
    padding-block-end: calc(var(--section-spacing-unit-size) * {{ section.settings.spacing_bottom }});
  }

  {%- if section.settings.show_top_border_for_utilities_bar -%}
    #shopify-section-{{ section.id }} .collection-grid__view-toggle {
      border-block-start: 0.1rem solid rgba(var(--color-border), var(--alpha-border));
    }
  {%- endif -%}
{%- endstyle -%}

{%- if section.settings.filters != 'none' or section.settings.enable_sorting -%}
  <script src="{{- 'facets.js' | asset_url -}}" defer="defer"></script>
{%- endif -%}

{%- if section.settings.enable_view_toggle -%}
  <script src="{{- 'collection-grid.js' | asset_url -}}" defer="defer"></script>
{%- endif -%}

{%- if section.settings.pagination_style == 'load_more' -%}
  <script src="{{- 'collection-load-more.js' | asset_url -}}" defer="defer"></script>
  <script src="{{- 'collection-load-previous.js' | asset_url -}}" defer="defer"></script>
  {%- if section.settings.enable_infinity_scroll -%}
    <script src="{{- 'collection-infinity-scroll.js' | asset_url -}}" defer="defer"></script>
  {%- endif -%}
{%- endif -%}

{%- liquid
  assign products_per_page = section.settings.products_per_page

  if section.settings.filters != 'none' or section.settings.enable_sorting or section.settings.enable_products_count
    render 'css', css: 'component-facets.css'
  endif
-%}

{%- if section.settings.filters != 'none'
  or section.settings.enable_sorting
  or section.settings.enable_products_count
-%}
  {%- capture facets_html -%}
    {%- render 'facets', 
      results: collection, 
      filters: section.settings.filters, 
      enable_sorting: section.settings.enable_sorting, 
      section_id: section.id, 
      container_width: section.settings.section_width, 
      opened_accordions: section.settings.enable_opened_accordions, 
      pagination_style: section.settings.pagination_style, 
      products_per_page: products_per_page
    -%}
  {%- endcapture -%}
{%- endif -%}

<div class="collection color-{{ section.settings.color_scheme }} filters--{{ section.settings.filters }}">
  {{ facets_html }}

  <div class="container {{ section.settings.section_width }}">
    {%- paginate collection.products by products_per_page -%}
      {%- if section.settings.filters == 'sidebar' -%}
        <facet-filters-form class="collection__sidebar" data-section-id="{{ section.id }}">
          <form id="FacetFiltersForm" class="collection__sidebar-form">
            <accordion-default class="accordion">
              <span class="collection__sidebar-header">{{ 'collection.filter_by' | t }}</span>
              {%- for filter in collection.filters -%}
                {%- render 'facet',
                  index: forloop.index,
                  section_id: section.id,
                  filter: filter,
                  opened_accordions: section.settings.enable_opened_accordions
                -%}
              {%- endfor -%}
            </accordion-default>
          </form>
        </facet-filters-form>
      {%- endif -%}

      <div class="collection__main">
        {%- if section.settings.enable_view_toggle -%}
          {%- render 'collection-grid',
            products: collection.products,
            section_id: section.id,
            enable_view_toggle: true,
            show_empty_state: true
          -%}
        {%- else -%}
          {%- render 'collection-grid',
            products: collection.products,
            section_id: section.id,
            enable_view_toggle: false,
            show_empty_state: true
          -%}
        {%- endif -%}

        {%- if paginate.pages > 1 -%}
          <div class="collection__pagination">
            {%- if section.settings.pagination_style == 'load_more' -%}
              <collection-load-more
                class="text-center no-js-hidden{% unless paginate.next %} hidden{% endunless %} color-{{ section.settings.color_scheme }}"
                data-current-page="{{ paginate.current_page }}"
              >
                {%- assign load_more_attr = 'data-href="' | append: paginate.next.url | append: '"' -%}
                {%-
                  render 'button',
                  class: 'button js-btn-load-more',
                  button_style: 'button--outlined',
                  attr: load_more_attr,
                  value: 'theme.actions.load_more' | t,
                  loading_spinner: true
                -%}
              </collection-load-more>
            {%- else -%}
              {%- render 'pagination', paginate: paginate, anchor: '' -%}
            {%- endif -%}
          </div>
        {%- endif -%}
      </div>
    {%- endpaginate -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-collection.name",
  "tag": "section",
  "class": "section-collection",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.global.header.utilities_bar.content"
    },
    {
      "type": "checkbox",
      "id": "show_top_border_for_utilities_bar",
      "label": "t:sections.main-collection.settings.show_top_border_for_utilities_bar.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_products_count",
      "label": "t:sections.main-collection.settings.enable_products_count.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "label": "t:sections.main-collection.settings.enable_sorting.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_view_toggle",
      "label": "t:sections.main-collection.settings.enable_view_toggle.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_opened_accordions",
      "label": "t:sections.main-collection.settings.enable_opened_filter_accordions.label",
      "default": false
    },
    {
      "type": "select",
      "id": "filters",
      "label": "t:sections.main-collection.settings.filters.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.main-collection.settings.filters.options.none.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.main-collection.settings.filters.options.drawer.label"
        },
        {
          "value": "sidebar",
          "label": "t:sections.main-collection.settings.filters.options.sidebar.label"
        }
      ],
      "default": "drawer"
    },
    {
      "type": "header",
      "content": "t:sections.global.header.products_grid.content"
    },
    {
      "type": "select",
      "id": "products_per_row",
      "label": "t:sections.main-collection.settings.products_per_row.label",
      "options": [
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        }
      ],
      "default": "4"
    },
    {
      "type": "select",
      "id": "products_per_row_mobile",
      "label": "t:sections.main-collection.settings.products_per_row_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "default": "2"
    },
    {
      "type": "range",
      "id": "products_per_page",
      "label": "t:sections.main-collection.settings.products_per_page.label",
      "info": "t:sections.main-collection.settings.products_per_page.info",
      "min": 12,
      "max": 50,
      "step": 1,
      "default": 24
    },
    {
      "type": "select",
      "id": "pagination_style",
      "label": "t:sections.global.pagination.style.label",
      "options": [
        {
          "value": "default",
          "label": "t:sections.global.pagination.style.options.default.label"
        },
        {
          "value": "load_more",
          "label": "t:sections.global.pagination.style.options.load_more.label"
        }
      ],
      "default": "default"
    },
    {
      "type": "checkbox",
      "id": "enable_infinity_scroll",
      "label": "t:sections.global.pagination.enable_infinity_scroll.label",
      "info": "t:sections.global.pagination.enable_infinity_scroll.info",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.global.header.settings.content",
      "info": "t:sections.global.header.settings.info"
    },
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "max-w-page",
          "label": "t:sections.global.settings.section_width.options__1.label"
        },
        {
          "value": "max-w-fluid",
          "label": "t:sections.global.settings.section_width.options__2.label"
        }
      ],
      "default": "max-w-page",
      "label": "t:sections.global.settings.section_width.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme-1",
      "label": "t:sections.global.color_scheme.label"
    },
    {
      "type": "select",
      "id": "spacing_top",
      "label": "t:sections.global.settings.spacing.settings.spacing_top.label",
      "options": [
        {
          "value": "0",
          "label": "No"
        },
        {
          "value": "1",
          "label": "S"
        },
        {
          "value": "2",
          "label": "M"
        },
        {
          "value": "4",
          "label": "L"
        },
        {
          "value": "6",
          "label": "XL"
        }
      ],
      "default": "2"
    },
    {
      "type": "select",
      "id": "spacing_bottom",
      "label": "t:sections.global.settings.spacing.settings.spacing_bottom.label",
      "options": [
        {
          "value": "0",
          "label": "No"
        },
        {
          "value": "1",
          "label": "S"
        },
        {
          "value": "2",
          "label": "M"
        },
        {
          "value": "4",
          "label": "L"
        },
        {
          "value": "6",
          "label": "XL"
        }
      ],
      "default": "2"
    }
  ]
}
{% endschema %}
