{% comment %}
  Sección: Top Banners Programados Usa Metaobjects "Top Banner" y
  sus periodos asociados. Permite mostrar banners tipo imagen o texto según el
  campo "tipo_de_banner".
{% endcomment %}
{%- liquid
  assign tbn_data = shop.metafields.custom.top_banners.value[0]
-%}
{%- liquid
  assign banners = tbn_data.records
-%}

{% if banners %}
  <div class="top-banners w-full overflow-hidden ">
    <div class="swiper top-banner-swiper">
      <div class="swiper-wrapper">
        {% for banner in banners %}
          {%- capture is_visible -%}
      {%- render 'date-visibility', date_ranges: banner.date_ranges -%}
    {%- endcapture -%}
          {%- if is_visible contains 'true' -%}
            {%- capture should_display -%}
        {%- render 'display-rule' display_rule: banner.display_rule, urls: banner.display_urls -%}
      {%- endcapture -%}
            {%- if should_display contains 'true' -%}
              <div class="swiper-slide relative">
                <div class="links-container">
                  {% for link in banner.links %}
                    <a
                      href="{{ link.url }}"
                      {% if link.blank %}
                        target="_blank"
                      {% endif %}
                      style="color: {{ banner.text_color }};"
                      class="tbn-link"
                    >
                      {{- link.label -}}
                    </a>
                  {% endfor %}
                </div>
                <a href="{{ banner.url }}" class="top_banner_link">
                  {% if banner.tipo_de_banner == 'image' %}
                    <div class="image-container" style="background-color: {{ banner.background_color }};">
                      <img
                        src="{{ banner.image }}"
                        alt="{{ banner.alt }}"
                        loading="lazy"
                        class="w-full h-auto object-cover"
                      >
                    </div>
                  {% elsif banner.tipo_de_banner == 'text' %}
                    <div
                      class="text-banner text-center p-6"
                      style="color: {{ banner.text_color }}; background-color: {{ banner.background_color }};"
                    >
                      <span style="color: {{ banner.text_color }};">
                        {{ banner.banner_text }}
                      </span>
                    </div>
                  {% endif %}
                </a>
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>

      {% if tbn_data.arrows %}
        <div class="swiper-button-next" style="color: {{ tbn_data.nav_color }}"></div>
        <div class="swiper-button-prev" style="color: {{ tbn_data.nav_color }}"></div>
      {% endif %}

      {% if tbn_data.dots %}
        <div class="swiper-pagination"></div>
      {% endif %}
    </div>
  </div>
{% else %}
  <div class="banner-default text-center py-10">
    <p>No hay banners activos en este momento.</p>
  </div>
{% endif %}
<script defer>
  document.addEventListener('DOMContentLoaded', function () {
    if (typeof Swiper !== 'undefined') {
      const swiper = new Swiper('.top-banner-swiper', {
        loop: true,
        pagination: { el: '.swiper-pagination', clickable: true },
        autoplay: {
          delay: 5000,
          disableOnInteraction: false,
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      });
    }
  });
</script>
<style>
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #f3eddf;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .links-container {
    position: absolute;
    right: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1.4px;
  }

  .tbn-link {
    position: relative;
    display: inline-block;
  }

  .tbn-link::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease;
  }

  .tbn-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  .image-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide img {
    height: 100%;
    object-fit: contain;
    max-width: 90%;
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: #000;
    cursor: pointer;
    z-index: 20;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 14px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }

  .swiper-button-next,
  .swiper-button-prev {
    font-size: 20px;
    width: 25px;
    height: 25px;
    top: 73%;
  }

  .swiper-pagination {
    top: 20px !important;
    width: fit-content;
    left: 50% !important;
    transform: translateX(-50%);
    width: fit-content !important;
  }

  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
  }

  .swiper-pagination-bullet-active {
    background: {{ tbn_data.nav_color }} !important;
  }

  .top-banners {
    height: 40px;
  }

  .top_banner_link {
    width: 100%;
    height: 100%;
  }

  .text-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 10px;
    font-weight: bolder;
    letter-spacing: 1.4px;
  }
</style>

{%- schema -%}
{
  "name": "Top banners",
  "tag": "section",
  "settings": [],
  "presets": [{ "name": "Top banners" }]
}
{%- endschema -%}
